<div class="ui-bar" style="text-align: right;">
    <a href="javascript: $.archiveBookmark(<%= @id %>)" data-role="button" data-icon="check">Archive</a>
    <a href="http://twitter.com/?status=<%= @text[:title] %> <%= @url %>" target="_blank" data-role="button" data-icon="forward">Tweet</a>
    <a href="<%= @url %>" target="_blank" data-role="button" data-icon="forward">Original</a>
</div>
