<% @bookmarks.each do |bookmark| %>
    <li id="bookmark-<%= bookmark[:id] %>">
        <a href="/t?url=<%= URI.escape(bookmark[:url]) %>&id=<%= bookmark[:id] %>" class="bookmark unloaded" data-transition="none">
            <span class="loading"></span>
            <%= bookmark[:title] %>
        </a>
    </li>
<% end %>
