<div class="ui-bar" style="text-align: right;">
    <% if logged_in? %>
        <p>
            <a href="/logout" data-ajax="false">Logout</a>
        </p>
    <% end %>
    <p style="font-size: 80%; color: #999;">
        InstaCache is created by <a href="http://twitter.com/jugyo" target="_blank">@jugyo</a>.
    </p>
</div>
