<div data-role="page" class="type-interior">
    <div data-role="header">
        <h1>InstaCache</h1>
        <a href="javascript: $.refreshList();" data-role="button" data-icon="refresh" class="ui-btn-right">Refresh</a>
    </div>
    <div data-role="content">
        <ul data-role="listview" id="bookmarks">
        </ul>
    </div>
    <%== erubis :footer, :layout => false %>
</div>

<script type="text/javascript" charset="utf-8">
    $(function(){
        setTimeout($.refreshList, 500);
    });
</script>
