<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InstaCache</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $.mobile.page.prototype.options.domCache = true; // 一覧に戻った時に prefetch しないようにしている

        $("a.bookmark").each(function() {
            var that = $(this);
            var url = that.attr('href');
            console.log("loadPage: " + url);
            $.mobile.loadPage(url).then(function() {
                console.log(url);
                that.removeClass("unloaded");
                that.addClass("loaded");
            });
        });
      });
    </script>
    <style type="text/css" media="screen">
        pre {
            word-wrap: break-word;
        }
        a.unloaded {
            opacity: 0.4;
        }
        a.loaded .loading {
            display: none;
        }
    </style>
</head>
<body>
    <div data-role="page" class="type-interior">
        <div data-role="header">
            <h1>Read Later</h1>
            <a href="javascript: window.location.reload();" data-role="button" data-icon="refresh" class="ui-btn-right">Refresh</a>
        </div>
        <div data-role="content">
            <ul data-role="listview">
                <% @bookmarks.each do |bookmark| %>
                    <li>
                        <a href="/t?url=<%= URI.escape(bookmark[:url]) %>" class="bookmark unloaded" data-transition="none">
                            <span class="loading"></span>
                            <%= bookmark[:title] %>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</body>
</html>
